.infosDesc{
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding:10px 0px;
    width: 797px;
    transform: translateY(30px);
    animation: entrance-effect 1000ms forwards;
}

.container h3 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 20px;
    background-color: #002A3B;
    box-shadow:0px 2px 1px 1px#f38545;
    color: #f38545;
}

.container p {
    font-size: 16px;
    text-align: justify;
    line-height: 30px;
}


@keyframes entrance-effect {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}


@media screen and (max-width:1024px){
    .container {
        padding:5px 0px;
    }
    
    .container h3 {
        font-size: 14px;
        height: 30px;
        margin: 0px 10px;
    }
    
    .container p {
        font-size: 12px;
        margin: 0px 10px;
        line-height: 20px;
    }
}


@media screen and (max-width:600px) and (min-width:400px){
}

@media (max-width: 400px) {
}