.infosDesc{
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding:10px 0px;
    width: 797px;
    transform: translateY(30px);
    animation: entrance-effect 1000ms forwards;
}

.container h3 {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 20px;
    background-color: #f38545;
    color: white;
    border: 2px solid #002A3B;
}

.container p {
    font-size: 16px;
    text-align: justify;
    line-height: 30px;

}


@keyframes entrance-effect {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}


@media screen and (max-width:900px){
    .container {
        height: 70px;
        margin: 5px 0px;
        padding:5px 0px;
        width: 597px;
    }
}


@media screen and (max-width:600px) and (min-width:400px){
    .container {
        height: 70px;
        margin: 5px 0px;
        padding:5px 0px;
        width: 347px;
    }
}

@media (max-width: 400px) {
    .container {
        height: 30px;
        border-radius: 5px;
        margin: 5px 0px;
        padding:5px 0px;
        width: 247px;
    }
    
    .container h3 {
        font-size: 12px;
        padding-left:10px;
    }
}