h1, h2, h3, h4, h5 {
    text-align: center;
    color: black;
}

h3 {
    padding-bottom: 2px;
    margin: 0;
}

.titrePres{
    position: relative;
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titrePres img {
    position:absolute; 
    z-index: 1;
    filter: brightness(0.2);
    filter: grayscale(1);
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.titrePres h3 {
    position:absolute; 
    z-index: 2;
    align-items: baseline;
    justify-content: center;
    color: red;
    font-size: 30px;
}


p {
    margin: 0;
    padding-top: 10px;
}

a {
    text-decoration: none;
}

.presInd{
    max-width: 400px;
    padding:20px;
}

.presInd p {
    text-align: center;
}

.presentationActivite {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 40px;
}

.enSavoirPlus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}