.home h1 {
    text-align: center;
    color: #f38545;
}

h3 {
    padding-bottom: 2px;
    margin: 0;
}

p {
    margin: 0;
    padding-top: 10px;
    color: black;
}

a {
    text-decoration: none;
}

.homePage{
    display: flex;
    justify-content: center;
}

.home {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.titrePres{
    position: relative;
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titrePres img {
    position:absolute; 
    z-index: 1;
    filter: brightness(0.2);
    filter: grayscale(1);
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.titrePres h3 {
    position:absolute; 
    z-index: 2;
    align-items: baseline;
    justify-content: center;
    color: #f38545;
    font-size: 30px;
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presInd{
    max-width: 500px;
    padding:5px;
}

.presInd p {
    text-align: center;
    font-size: 12px;
}

.presentationActivite {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 40px;
    max-width: 1200px;
}

.meConnaitreHome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.enSavoirPlus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 0;
    width: 900px;
}

.contactHome {
    width: 100%;
    padding: 20px 5px;
    margin: 5px;
    background-color: #002A3B;
    text-align: center;
    color: #f38545;
    border-radius: 20px;
}


.quiSuisJe {
    width: 100%;
    padding: 20px 5px;
    margin: 5px;
    background-color: #002A3B;
    text-align: center;
    color: white;
    border-radius: 20px;
}

.quiSuisJe h2 {
    color: #f38545;
}

.quiSuisJe p {
    color: white;
}

.contactHome h2 {
    color: #f38545
}

.contactHome p {
    color: white;
}

@media screen and (max-width:1025px){
    .enSavoirPlus {
        width: 700px;
    }
}

@media screen and (max-width:1024px){
    .enSavoirPlus {
        width: 500px;
    }
}

@media screen and (max-width:834px){
    
}

@media screen and (max-width:768px){
    .home h1 {
        font-size: 16px;
    }
    
    .titrePres{
        height: 200px;
        width: 450px;
    }
    
    .titrePres h3 {
        font-size: 30px;
    }

    .titrePres p {
        font-size: 12px;
        text-align: center;
    }

    .presInd p {
        text-align: center;
        font-size: 12px;
        max-width: 450px;
    }

    .presentation h2 {
        font-size: 14px;
    }
    
    .presentationActivite {
        margin: 5px 10px;
    }
    
    .contactHome {
        width: 100%;
        padding: 10px 5px;
        margin: 5px;
    }
    
    .quiSuisJe {
        width: 100%;
        padding: 10px 5px;
        margin: 5px;
    }
    
    .enSavoirPlus {
        width: 450px;
    }

    .enSavoirPlus h2 {
        font-size: 16px;
    }

    .enSavoirPlus p {
        font-size: 12px;
        padding-top: 5px;
    }
}

@media screen and (max-width:480px){
    .titrePres{
        height: 150px;
        width: 300px;
    }
    
    .titrePres h3 {
        font-size: 26px;
    }

    .presInd p {
        max-width: 300px;
    }
    
    .enSavoirPlus {
        width: 300px;
    }
}