.encadrementImg {
    display: flex;
    justify-content: center;
    margin: 20px 0 10px 0;
}

.pageImmobilier h1 {
    margin: 5px 0;
    color: #002A3B;
    text-align: center;
}


.imageImmobilier {
    display: flex;
    justify-content: center;
    padding:5px;
    max-width: 500px;
    max-height: 300px;
}

.imgImmobilierInt {
    width: 100%;
    object-fit: cover;
    filter: brightness(0.2);
    filter: grayscale(1);
    border-radius: 10%;
}

@media screen and (max-width:1024px){
    .imageImmobilier {
        max-width: 400px;
        max-height: 250px;
    }
}

@media screen and (max-width:768px){
    .imageImmobilier {
        max-width: 350px;
        max-height: 220px;
    }
}

@media screen and (max-width:480px){
    .imageImmobilier {
        max-width: 300px;
        max-height: 200px;
    }
}