.infos{
    display: flex;
    justify-content: center;
    margin:5px 0;
}

.infosTitre{
    padding:5px 0;
}

.infosTitre h1 {
    margin: 5px 0;
    color: #002A3B;
    text-align: center;
}

.content{
    z-index: auto;
}

@keyframes entrance-effect {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@media screen and (max-width:767px){
    .contactGoogle {
        margin-left: 10px;
        margin-right: 10px;
    }
}
