.navLogo .logoNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: green;
}

.navLogo .logo-img {
  width: 120px;
  margin-top: 5px;
  height: 100%;
  padding-left: 20px;
}

.navLogo ul {
  display: flex;
  flex-direction: row;

}

  .classNav {
    list-style: none;
    padding: 0;
    padding-right: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 10px;
  }
  
  .nav-links a:hover {
    background-color: #555;
  }
  

  