.navLogo {
    background: rgba(218,117,51,1);
  }
  
  .navLogo .logoNav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navLogo .logo-img {
    width: 120px;
    margin-top: 5px;
    height: 100%;
  }