.savoirPlus {
    margin: 20px 0;
}

.presentation h4 {
    margin:5px;
    color: #f38545;
    text-align: center;
}

.buttonSavoirPlus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.buttonSavoirPlus button {
    font-size: 16px;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background-color: #002A3B;
    border: 2px solid #f38545;
}

@media screen and (max-width:950px){
    .presentation h4 {
        font-size: 14px;
    }
}